<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<div id="wrapper">
    {% include header.html %}
	
	   <!-- Portfolio Grid Section -->
    <section id="biography" class="biography">
        <div class="container">
            <div class="row" style="color: #000000; border-bottom: 2.5px dashed #ecf0f1;">
                <div class="col-lg-12" >
						<h2 class="text-center" style="margin-bottom: 30px; border-bottom: 2.5px dashed #ecf0f1">Biography</h2>
						<img class="img-circle profile" src="img/thiru/profile.jpg" alt="Thirumagal kanagasabai">
						<p>Thiru Kanagasabai is a Postdoctoral Fellow at McGill University. She completed her Ph.D. at York University, Toronto, Ontario, Canada. She is trained in Toxicology and Epidemiology. Currently, she is studying the relationship between Air Pollution and Cardiovascular Health in China. She is focused the relationship between Sleep and Cardiometabolic Health, and the influence of Dietary and Physical Activity factors within this framework for her PhD.</p>
						<p>Thiru completed her B.Sc. (Hons) at the Department of Pharmacology and Toxicology, Toxicology Specialization, University of Toronto. Her Honours thesis was titled “Supplements May Not Counteract Age-Associated Cognitive Dysfunction in Humans: Evidence from Canines.” She completed her M.Sc. at the Departments of Pharmaceutical Sciences, and Pharmacology and Toxicology (Collaborative Program in Biomedical Toxicology), University of Toronto. Her M.Sc. thesis was titled “Chelating Agents Preventing Iron and Copper Induced Oxidative Stress in in vitro Systems.” Her PhD was completed at the School of Kinesiology and Health Science, York University (Faculty of Health), in Toronto. Her dissertation title is “Sleep and Cardiometabolic Health in Adults: Contributions of Lifestyle and Dietary Factors, Objective vs Subjective Sleep, and Change in Sleep Habits.”</p>
						>
            </div>
        </div>
    </section>

	
    {% include footer.html %}
</div>
  </body>
</html>


