<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<div id="wrapper">
    {% include header.html %}
	
	   <!-- Portfolio Grid Section -->
    <section id="biography" class="biography">
        <div class="container">
            <div class="row" style="color: #000000; border-bottom: 2.5px dashed #ecf0f1;">
                <div class="col-lg-12" >
						<h2 class="text-center" style="margin-bottom: 30px; border-bottom: 2.5px dashed #ecf0f1">Biography</h2>
						<img class="img-circle profile" src="img/thiru/profile.jpg" alt="Thirumagal kanagasabai">
						<p>Thirumagal (Thiru) Kanagasabai is a Ph.D. Candidate at York University, Toronto, Ontario, Canada. She is trained in Toxicology and Epidemiology. Currently, she is studying the relationship between Sleep and Cardiometabolic Health, and the influence of Dietary and Physical Activity factors within this framework.</p>
						<p>Thiru completed her B.Sc. (Hons) at the Department of Pharmacology and Toxicology, Toxicology Specialization, University of Toronto. Her Honours thesis was titled “Supplements May Not Counteract Age-Associated Cognitive Dysfunction in Humans: Evidence from Canines.”</p>
						<p>Thiru completed her M.Sc. at the Departments of Pharmaceutical Sciences, and Pharmacology and Toxicology (Collaborative Program in Biomedical Toxicology), University of Toronto. Her M.Sc. thesis was titled “Chelating Agents Preventing Iron and Copper Induced Oxidative Stress in in vitro Systems.”</p>
						<p>Currently, Thiru is a Ph.D. Candidate at the School of Kinesiology and Health Science, York University. Her dissertation title is “Inflammation, Oxidation Stress, Diet Factors and Physical Activity Behaviours on the Sleep–Cardiometabolic Relationships.”</p>
						<h4>Thiru’s Research Interests</h4>
						<ul>
							<li>Epidemiology, Research Methodology, Data-driven Research, Big Data, Population and Public Health</li>
							<li>Biostatistics: Main effect, Interaction, Mediation, Risks Estimation, and Sensitivity Analysis</li>
							<li>Sleep Patterns, Circadian Rhythms, Light Exposure, and Health Outcomes</li>
							<li>Sleep and Oxidative Stress, Inflammation, Micronutrients, and Physical Activity Behaviours</li>
							<li>Objective Measures of Sleep and Physical Activity (i.e., accelerometry, polysomnography, smartphone Apps, and surveys)</li>
						</ul>
                </div>
            </div>
        </div>
    </section>

	
    {% include footer.html %}
</div>
  </body>
</html>


