<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<div id="wrapper">
    {% include header.html %}
	

    <section id="conferences" class="conferences">
        <div class="container">
            <div class="row" style="border-bottom: 2.5px dashed #3498db;">
                <div class="col-lg-12">
                     <h2 class="text-center">Conferences</h2>
                     <p style="border-bottom: 2.5px groove #fff;">Selected Presentations</p>
                     <ol>
                        <li>Kanagasabai T. Obesity and Sleep. Canadian Obesity Network-Students and New Professional Chapter@York University, September 2015, Toronto, Ontario. [Oral presentation].</li>
                        <li>Kanagasabai T, and Ardern CI. Mediating effect of physical activity intensity and sedentary activity on the sleep-cardiometabolic health relationship: an accelerometer study. Canadian Society of Exercise Physiology, October 2015, Hamilton, Ontario. [Poster presentation].</li>
                        <li>Kanagasabai T, and Ardern CI. Sleep duration and cardiometabolic risk scores: a cross-sectional study. Canadian Sleep Society Conference, September 2015, Toronto, Ontario. [Oral presentation].</li>
                        <li>Kanagasabai T, Dhanoa R, Kuk JL, and Ardern Sleep and Metabolic Health in Adults with Obesity. Canadian Journal of Diabetes, 39(Supplement) 2015: S69–70. Canadian Obesity Summit, April 2015, Toronto, Ontario. [Poster presentation].</li>
                        <li>Chojnacki KC, Kanagasabai T, Riddell MC, and Ardern CI. Associations Between Sleep Quantity and Sleep Quality and Glycosylated Hemoglobin Levels in US Adults. Canadian Journal of Diabetes, 39(Supplement) 2015: S67. Canadian Obesity Summit, April 2015, Toronto, Ontario. [Undergraduate Poster Presentation Award—2nd Place Winner].</li>
                        <li>Kanagasabai T. Sleep and Metabolic Health: Inflammation, Oxidation Stress, Antioxidants, and Recreational Physical Activity in Adults. Canadian Obesity Network-Students and New Professional Chapter@York University, January 2015, Toronto, Ontario. [Oral presentation]</li>
                        <li>Kanagasabai T. Physical Activity, Systematic Oxidation Stress, and High–Fructose Diet on the Sleep–MetS Relationship. Technological Advances in Science, Medicine and Engineering, July 2014, Toronto, Ontario. [Oral Presentation Award—3rd Place Winner].</li>
                        <li>Kanagasabai T and Ardern CI. Very Poor Sleep Quality, Independent of Sleep Quantity, Increases Metabolic Health Risks in a Large US Sample. Canadian Obesity Student Meeting, June 2014, Waterloo, Ontario. [Oral presentation].</li>
                        <li>Kanagasabai T and Ardern CI. CRP and Antioxidants Are Optimal In 7-8h Sleepers, and Mediate the Sleep-Metabolic Health Relationship. Medicine and Science in Sports and Exercise, 46(5 Supplement) 2014: 304-306. Annual Meeting, World Congress on Exercise is Medicine, and World Congress on the Role of Inflammation in Exercise, Health and Disease of the American College of Sports Medicine, May 2014, Orlando, Florida.  [Thematic Poster Presentation].</li>
                        <li>Kanagasabai T, Heinzle SJ, Kuk JL, and Ardern CI. Sleeping Less Than 7h a Night is Associated with Higher Odds of Metabolic Syndrome, and is Mediated by Recreational Physical Activity Level. Applied Physiology, Nutrition, and Metabolism, 38(10) 2013: 1003–1091. Canadian Society of Exercise Physiology, October 2013, Toronto, Ontario. [Poster presentation].</li>
                        <li>Kanagasabai T, Kuk JL, and Ardern CI. Physical Activity Types in Metabolically Healthy Obese Adults, NHANES 1999-2006. Applied Physiology, Nutrition, and Metabolism 38(10) 2013: 1003–1091. Canadian Society of Exercise Physiology, October 2013, Toronto, Ontario. [Graduate Student Award–PhD Poster Presentation Finalist].</li>
                     </ol>
                </div>
            </div>
        </div>
    </section>

	
    {% include footer.html %}
</div>
  </body>
</html>


