<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<div id="wrapper">
    {% include header.html %}
	
<!-- About Section -->
    <section class="success" id="published">
        <div class="container">
            <div class="row" style="border-bottom: 2.5px dashed #fff;">
                <div class="col-lg-12">
                    <h2 class="text-center">Published Articles</h2>
                </div>
            </div>
            <div class="row" style="border-bottom: 2.5px dashed #fff;">
                <div class="col-lg-12" style="margin-top: 20px;">
                    <ol>
                        <li>Kanagasabai T, and Ardern CI. Contribution of Inflammation, Oxidative Stress, and Antioxidants to the Relationship between Sleep Duration and Cardiometabolic Health. SLEEP (In-press) <a href="http://www.ncbi.nlm.nih.gov/pubmed/26237775" class="btn btn-xs btn-outline outline-small" target="_blank"> PubMed</a></li>
                        <li>Kanagasabai T, and Ardern CI. Inflammation, Oxidative Stress, and Antioxidants Contribute to Selected Sleep Quality and Cardiometabolic Health Relationships: A Cross-sectional Study. Mediators of Inflammation: Interplay between Oxidative Stress and Inflammation in Cardiometabolic Syndrome (Special Issue), 2015(Article ID 824589) 2015:11. <a href="http://www.hindawi.com/journals/mi/2015/824589/abs/" class="btn btn-xs btn-outline outline-small" target="_blank"> Hindawi</a></li>
                        <li>Kanagasabai T, Thakkar N, Churilla J, Kuk JL, and Ardern CI. Physical Activity Types in Metabolically Healthy Obese Adults: NHANES 1999-2006. International Journal of Behavioral Nutrition and Physical Activity, 12(1) 2015: 64. <a href="http://www.ncbi.nlm.nih.gov/pubmed/25982079" class="btn btn-xs btn-outline outline-small" target="_blank"> PubMed</a></li>
                        <li>Kanagasabai T, Nie JX, Mason C, and Ardern CI. “Metabolic Syndrome and Any-Site, Prostate, Breast, and Colon Cancers in the U.S. Adult Population: NHANES 1999-2010.” Journal of Metabolic Syndrome, 3(1) 2014: 135-142. <a href="http://www.omicsgroup.org/journals/metabolic-syndrome-and-prevalent-anysite-prostate-breast-and-colon-cancers-in-the-us-adult-population-nhanes-2167-0943.1000135.php?aid=24435" class="btn btn-xs btn-outline outline-small" target="_blank"> OMICS</a></li>
                        <li>Huang SS, Banner D, Degousee N, Leon A, Xu L, Paquette S, Kanagasabai T, Fang Y, Rubino S, Rubin B, Kelvin DJ, and Kelvin AA. Differential Pathological and Immune Responses in Newly Weaned Ferrets are associated with Mild Clinical Outcome of Pandemic 2009 H1N1 Infection.  Journal of Virology, 86(24)2012: 13187-13201. <a href="http://www.ncbi.nlm.nih.gov/pubmed/23055557" class="btn btn-xs btn-outline outline-small" target="_blank"> PubMed</a></li>
                        <li>Huang SS, Banner D, Fang Y, Ng DCK, Kanagasabai T, Kelvin DJ and Kelvin AA. Comparative Analyses of Pandemic H1N1 and Seasonal H1N1, H3N2, and Influenza B Infections Depict Distinct Clinical Pictures in Ferrets.  PLoS One, 6(11) 2011: e27512. <a href="http://www.ncbi.nlm.nih.gov/pubmed/22110664" class="btn btn-xs btn-outline outline-small" target="_blank"> PubMed</a></li>
                        <li>Kanagasabai T, Muharuma L, McGuire J, Russell M, Vearncombe M, and Urowitz M.  Evidence-Based Strategies to Improve Immunization Compliance of Postgraduate Medical Trainees at Large Academic-Medical Facilities.  Healthcare Quarterly, 10(2) 2007: 81-86. <a href="http://www.ncbi.nlm.nih.gov/pubmed/17491572" class="btn btn-xs btn-outline outline-small" target="_blank"> PubMed</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

	
    {% include footer.html %}
</div>
  </body>
</html>

